<link rel="stylesheet" href="menu.component.css">

<link rel="stylesheet" type="text/css" href="menu.component.css">
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

<body>
    <div class="Iam">

        <p>Esto es</p>
        <b>
            <div class="innerIam">
                Desarrollo<br >
                Web<br/>
                Profesional<br/>
            </div>
        </b>

    </div>
    <br>
    <br>
    <div class="container menu2">
        <div class="titulo">
            <h1>Parcial 2 </h1>
        </div>
        <div class="menu">
            <div class="menu-item">
                <a href="">Libros</a>
            </div>
            <div class="menu-item">
                <a href="">Clientes</a>
            </div>
            <div class="menu-item">
                <a href="">Actividad 1</a>
            </div>
            <div class="menu-item">
                <a href="">Acerca de</a>
            </div>
        </div>
    </div>
</body>